<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/01_DataTypes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [7]:
def print_welcome(name):
  print("Hello",name)
name = "David"
print_welcome(name)
name = "Fiona"
print_welcome(name)

Hello David
Hello Fiona

Exercise 2

In [18]:
def print_total():
    num1 = 10
    num2 = 15
    total = num1+num2
    print(num1, "+", num2, "=", total)
print_total()
def print_total():
    num1 = 3
    num2 = 4
    total = num1+num2
    print(num1, "+", num2, "=", total)
print_total()

10 + 15 = 25
3 + 4 = 7

Exercise 3

In [20]:
def print_info():
    Name = "Billy"
    Age = 18
    print(f"Hello {Name},you are {Age} years old")
print_info()

Hello Billy,you are 18 years old

Exercise 4

In [21]:
def print_price():
    product = "Chocolate Bar"
    cost = 1.39
    print(product,"costs","£",cost)
print_price()

Chocolate Bar costs £ 1.39

Exercise 5

In [23]:
def print_full_name():
    name = "Monty"
    surname = "Python"
    full_name = name + " " + surname
    print(full_name)
print_full_name()

Monty Python