<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/02_DataTypes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [10]:
def print_details():
    name = input("What is your name? ")
    age = int(input("How old are you? "))
    height = float(input("What is your height metres?"))
    print(f"Hello {name},you are {age} years old and {height} metres tall")
print_details()

What is your name? Laura
How old are you? 45
What is your height metres?1.86
Hello Laura,you are 45 years old and 1.86 metres tall

Exercise 2