<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/02_DataTypes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [10]:
def print_details():
    name = input("What is your name? ")
    age = int(input("How old are you? "))
    height = float(input("What is your height metres?"))
    print(f"Hello {name},you are {age} years old and {height} metres tall")
print_details()

What is your name? Laura
How old are you? 45
What is your height metres?1.86
Hello Laura,you are 45 years old and 1.86 metres tall

Exercise 2

In [16]:
def show_trueFalse():
   logged_in = True
   logged_in_as_num = int(True)
   print(logged_in," ",logged_in_as_num)

   logged_in = False
   logged_in_as_num = int(False)
   print(logged_in," ",logged_in_as_num)

show_trueFalse()

True   1
False   0

Exercise 3

In [17]:
def count_poundCoins():
    pounds_pence = float(input("enter an amount in pounds and pence"))
    pound_coins = int(pounds_pence)
    print("Number of pound coins"," ",pound_coins )
count_poundCoins()

enter an amount in pounds and pence5.48
Number of pound coins   5

Exercise 4

In [19]:
def format_currency():
    num_pounds = int(input("enter a number of pounds"))
    pounds = str(num_pounds)
    currency = "£" + pounds + ".00"
    print(currency)
format_currency()

enter a number of pounds5
£5.00

Exercise 5

In [33]:
def calculate_area():
   radius = float(input("enter the radius of a circle"))
   pi = 3.14159
   area = pi * radius * radius
   print("The area of the circle is:",round(area,2))
calculate_area()

enter the radius of a circle5
The area of the circle is: 78.54