<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/03_DataTypes3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [2]:
def print_initials():
  var_Name = input("Enter your fist name ")
  var_Middlename = input("Enter your middle name ")
  var_surname = input("Enter your surname ")
  print(var_Name,var_surname,var_Middlename)
print_initials()

Enter your fist name Peter
Enter your middle name Barry
Enter your surname Burrows
Peter Burrows Barry

Exercise 2

In [5]:
def print_substring():
  name = input("enter a name of at least 5 letters  ")
  first_letters = name[0]
  fourth_letters = name[3]
  print("First letter is",first_letters,"fourth letter is",fourth_letters)
print_substring()

enter a name of at least 5 letters  Bartholomew
First letter is B fourth letter is t

Exercise 3

In [7]:
def print_formatted():
  house_number = int(input("Input house number"))
  road_name = input("Input road name")
  town = input("Input town")
  postcode = input("Input postcode")
  print("you have entered the following information")
  print(house_number,",",road_name)
  print(town)
  print(postcode)
print_formatted()

Input house number10
Input road nameOld Road
Input townChatham
Input postcodeME4 1AA
you have entered the following information
10 , Old Road
Chatham
ME4 1AA

Exercise 4

In [8]:
def print_namelength():
  name = input("Enter name")
  name_length = len(name)
  print(name,name_length, "characters")
print_namelength()

Enter nameWilliam
William 7 characters

Exercise 5

In [12]:
def convert_to_capitals():
  name = input("input a name in lowercase letters  ")
  capitalised_name = name.upper()
  print(capitalised_name)
convert_to_capitals()

input a name in lowercase letters  valeria
VALERIA

Exercise 6

In [14]:
def capitalise_names():
  name = input("input your name ")
  surname = input("input your surname ")
  capitalised_name = name.capitalize()
  capitalised_surname = surname.capitalize()
  print(capitalised_name,capitalised_surname)
capitalise_names()

input your name BenJaMin
input your surname FrAnKlin
Benjamin Franklin

Exercise 7

In [17]:
def print_postcode_letters():
  postcode = input("input your postcode ")
  postcode_area = postcode[0:2]
  capitalised_area = postcode_area.upper()
  print(capitalised_area)
print_postcode_letters()

input your postcode Pf185fj
PF

Exercise 8

In [19]:
def print_half_word():
  word = input("input word  ")
  half_length = len(word)//2
  half_word = word[0:half_length]
  print(half_word)
print_half_word()

input word  london
lon

Exercise 9

In [21]:
def repeat_two_letters():
  word = input("input word  ")
  last_two = word[-2:]
  five_copies = last_two*5
  print(five_copies)
repeat_two_letters()

input word  Data
tatatatata

Exercise 10

In [24]:
def lowerCase_threeLetters():
  month = "january"
  month_short = month[:3].upper()
  month_rest = month[3:]
  month = month_short + month_rest
  print(month)
lowerCase_threeLetters()

JANuary