<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/04_DataTypes4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [1]:
def print_dog_human_age():
  dog_age = int(input("input their dog's age  "))
  dog_human_age = dog_age*7
  print(dog_human_age)
print_dog_human_age()

input their dog's age  7
49

Exercise 2

In [16]:
def calculate_average():
  num1 = float(input("input first number "))
  num2 = float(input("input second number "))
  num3 = float(input("input third number "))
  average = (num1 + num2 +num3 ) / 3
  print(round(average,2))
calculate_average()

input first number 5
input second number 3
input third number 9
5.67

Exercise 3

In [19]:
def calculate_avg_height():
  height = float(input("input their height"))
  height_centimeters  = round(height*100)
  print(height_centimeters)
calculate_avg_height()

input their height1.67
167

Exercise 4

In [22]:
def convert_currency():
  pounds = float(input("input an amount in pounds "))
  euros = round(pounds*1.16,2)
  print("Є",euros)
convert_currency()

input an amount in pounds 60
Є 69.6

Exercise 5

In [26]:
def calculate_stats():
  num1 = 3.145
  num2 = 5.6723
  num3 = 9.34
  total = round((num1+num2+num3),2)
  average = round(total/3,3)
  print("The total of the three numbers is",total)
  print("The average of the three numbers is",average)
calculate_stats()

The total of the three numbers is 18.16
The average of the three numbers is 6.053

Exersice 6

In [24]:
def calculate_volume():
  base = 3.2
  width = 5.6
  height = 7.8
  box_volume = round(3.2*5.6*7.8,1)
  print("Volume ",box_volume)
calculate_volume()

Volume  139.8