<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/04_DataTypes4_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [ ]:
def print_dog_human_age():
  dog_age = int(input("input their dog's age  "))
  dog_human_age = dog_age*7
  print(dog_human_age)
print_dog_human_age()

input their dog's age  7
49

Exercise 2

In [ ]:
def calculate_average():
  num1 = float(input("input first number "))
  num2 = float(input("input second number "))
  num3 = float(input("input third number "))
  average = (num1 + num2 +num3 ) / 3
  print(round(average,2))
calculate_average()

input first number 5
input second number 3
input third number 9
5.67

Exercise 3

In [ ]:
def calculate_avg_height():
  height = float(input("input their height"))
  height_centimeters  = round(height*100)
  print(height_centimeters)
calculate_avg_height()

input their height1.67
167

Exercise 4

In [ ]:
def convert_currency():
  pounds = float(input("input an amount in pounds "))
  euros = round(pounds*1.16,2)
  print("Є",euros)
convert_currency()

input an amount in pounds 60
Є 69.6

Exercise 5

In [ ]:
def calculate_stats():
  num1 = 3.145
  num2 = 5.6723
  num3 = 9.34
  total = round((num1+num2+num3),2)
  average = round(total/3,3)
  print("The total of the three numbers is",total)
  print("The average of the three numbers is",average)
calculate_stats()

The total of the three numbers is 18.16
The average of the three numbers is 6.053

Exersice 6

In [ ]:
def calculate_volume():
  base = 3.2
  width = 5.6
  height = 7.8
  box_volume = round(3.2*5.6*7.8,1)
  print("Volume ",box_volume)
calculate_volume()

Volume  139.8

Exercise 7

In [ ]:
def calculate_boxes(base, width, height):
  box_volume = base*width*height
  total_volume = float(input("Enter the total volume of your stuff:"))
  number_of_boxes = total_volume/box_volume
  print(round(number_of_boxes))
calculate_boxes(3.2, 5.6, 7.8)

Enter the total volume of your stuff:1500
11

Exercise 8

In [ ]:
def calculate_parcel_weight():
  weight1 = float(input("enter the weights, in kg, of 1 parcel:"))
  weight2 = float(input("enter the weights, in kg, of 2 parcel:"))
  weight3 = float(input("enter the weights, in kg, of 3 parcel:"))
  weight4 = float(input("enter the weights, in kg, of 4 parcel:"))
  total_parcel_weight = weight1+weight2+weight3+weight4
  parcel_weight = round(total_parcel_weight)
  print(parcel_weight,"kg")
calculate_parcel_weight()

enter the weights, in kg, of 1 parcel:1.23
enter the weights, in kg, of 2 parcel:2.84
enter the weights, in kg, of 3 parcel:1.675
enter the weights, in kg, of 4 parcel:3.03
9 kg

Exercise 9

In [ ]:
def  get_pm_minutes():
  time = int(input("enter an afternoon time in 24 hour clock:"))
  hour = time//100
  minutes = time%100
  if hour >= 12:
        if hour > 12:
            hour -= 12
        period = "PM"
  else:
        period = "AM"
  print("It is",minutes,"past",hour,period)

get_pm_minutes()

enter an afternoon time in 24 hour clock:830
It is 30 past 8 AM

Exercise 10

In [ ]:
def calculate_tins(height, width, depth):
  tall = 11
  diameter = 8
  l_height = height//tall
  t_width = width//diameter
  t_depth = depth//diameter
  number_of_tins = l_height*t_width*t_depth
  print(number_of_tins,"tins will fit in this box")
calculate_tins(24, 50, 18)

24 tins will fit in this box