<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/05_DataTypes5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [4]:
def calculate_running_total():
  total = 0
  for i in range(3):
    number = float(input(" enter a number:"))
    total +=number
  print(round(total))

calculate_running_total()

 enter a number:5
 enter a number:6
 enter a number:7
18

Exercise 2

In [6]:
def decrease_time_left():
  seconds_left = 60
  for i in range(2):
    time = float(input(" enter a time in seconds:"))
    seconds_left-=time
  print(round(seconds_left),"seconds left")
decrease_time_left()

 enter a time in seconds:10
 enter a time in seconds:20
30 seconds left

Exercise 3

In [9]:
def decrease_by_factor():
   factor = float(input(" enter factor to decrease by (a whole number between 2 and 8:"))
   number = float(input(" enter a whole number:"))
   for i in range(2):
      number //= factor
   print(round(number))
decrease_by_factor()

 enter factor to decrease by (a whole number between 2 and 8:5
 enter a whole number:100
4

Exercise 4

In [12]:
def generate_powers():
  number = 1
  multiplier = 4
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
  number*=multiplier
  print(number)
generate_powers()

4
16
64
256
1024
4096
16384
65536
262144
1048576

Exercise 5

In [18]:
def is_afternoon():
  time = float(input("enter a time in 24 hour clock format as a whole number (e.g. 1756)"))
  hour = time//100
  afternoon = hour >= 12
  print("it is afternoon",afternoon)

is_afternoon()

enter a time in 24 hour clock format as a whole number (e.g. 1756)1145
it is afternoon False

Exercise 6

In [30]:
from random import randint
def guess_number(number):

   guess = float(input("enter a guess between 1 and 10:"))
   correct = guess == number
   print("Guess 1 correct?", correct)
   guess = float(input("enter a guess between 1 and 10:"))
   correct = guess == number
   print("Guess 2 correct?", correct)
   number = 6
guess_number(randint(0,10))

enter a guess between 1 and 10:1
Guess 1 correct? False
enter a guess between 1 and 10:6
Guess 2 correct? True

Exercise 7

In [33]:
def show_case_sensitivity():
  name = input("enter a name in all lower case letters:")
  capitalised_name = input("enter a capitalised_name with a leading capital letter:")
  same_names = name == capitalised_name
  print("These are the same name",same_names)
show_case_sensitivity()

enter a name in all lower case letters:peter
enter a capitalised_name with a leading capital letter:Peter
These are the same name False

Exercise 8

In [38]:
def calculate_answer():
  x = 5.6
  y = 6.2
  answer = round((x**2+y**3),3)
  user_answer = float(input(" input the user_answer"))
  incorrect_answer = answer != user_answer
  print("Not the right answer? ",incorrect_answer)
calculate_answer()

 input the user_answer200
Not the right answer?  True

Exercise 9

In [43]:
def check_in_range():
  number = int(input("input a whole number between 1 and 12:"))
  in_range = number >= 1 and number <=12
  print("Valid number?", in_range)
check_in_range()

input a whole number between 1 and 12:23
Valid number? False

Exercise 10

In [51]:
def identify_outlier():
  number = int(input("input a whole number:"))
  outlier = number<=20 or number>=50
  print("Outlier?", outlier)
identify_outlier()

input a whole number:32
Outlier? False