<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/08_ForLoops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [4]:
def list_numbers() :
  for i in range(10):
    print(i)
list_numbers()

0
1
2
3
4
5
6
7
8
9

Exercise 2

In [6]:
def list_number_range() :
  for i in range(5,16):
    print(i)
list_number_range()

5
6
7
8
9
10
11
12
13
14
15

Exercise 3

In [10]:
def list_evens() :
  for i in range(2,21,2):
    print(i)
list_evens()

2
4
6
8
10
12
14
16
18
20

Exercise 4

In [12]:
def list_multiples():
  for i in range(3,37,3):
    print(i)
list_multiples()

3
6
9
12
15
18
21
24
27
30
33
36

Exercise 5

In [22]:
def list_reverse():
  for i in range(15,4,-1):
   print(i)
list_reverse()

15
14
13
12
11
10
9
8
7
6
5

Exercise 6

In [24]:
def calculate_sum_of():
  total = 0
  for i in range(1,16):
      total = total+i
  print(total)
calculate_sum_of()

120

Exercise 7

In [32]:
def average():
  total = 0
  for i in range(1,6):
    i = int(input("Enter whole number: "))
    total = total+i
  print("average",round(total/5))
average()

Enter whole number: 1
Enter whole number: 2
Enter whole number: 3
Enter whole number: 4
Enter whole number: 5
average 3

Exercise 8

In [33]:
def display_times_table():
  number = int(input("Enter whole number: "))
  for i in range(1,11):
    total = number*i
    print(i,"x",number,"=",total)
display_times_table()

Enter whole number: 4
1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

Exercise 9

In [36]:
def countdown():
  number = int(input("Enter whole number: "))
  for number in range(number,0,-1):
    print(number)
  print("GO")
countdown()

Enter whole number: 10
10
9
8
7
6
5
4
3
2
1
GO

Exercise 10

In [43]:
def find_multiples():

  for i in range(500,1501):
    if i%3 ==0 and i%10 == 0:
     print(i)
find_multiples()

510
540
570
600
630
660
690
720
750
780
810
840
870
900
930
960
990
1020
1050
1080
1110
1140
1170
1200
1230
1260
1290
1320
1350
1380
1410
1440
1470
1500