<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/12_Functions_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [12]:
from datetime import datetime
def get_datetime_now():
  now_date_time = datetime.now()
  return now_date_time
print(get_datetime_now())

2023-10-11 19:16:04.487695

Exercise 2

In [13]:
from datetime import datetime
def get_current_year():
  now_year = datetime.now().year
  return now_year
print(get_current_year())

2023

Exercise 3

In [17]:
from datetime import datetime
def get_day_of_week():
  day = datetime.now().strftime("%A")
  return day
print(get_day_of_week())

Wednesday

Exercise 4

In [37]:
from datetime import datetime
def data(day,month,year):

   new_date = datetime(year, month, day)
   return new_date

day = 11
month = 10
year = 2024
new_date = data(day, month, year)
if new_date:
    print("New date:", new_date)
else:
    print("Invalid date. Please provide a valid date.")

New date: 2024-10-11 00:00:00

Exercise 5

In [59]:
def date(day, month, year):

    if month < 1 or month > 12:
        print("Error: Month must be between 1 and 12.")
        return None
    days_in_month = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    if day < 1 or day > days_in_month[month - 1]:
        print("Error: Invalid day for the given month .",month)
        return None
    valid_date = (day, month, year)
    return valid_date

day = int(input("Enter day"))
month = int(input("Enter month"))
year = int(input("Enter year"))

result = date(day, month, year)
if result is not None:
    print("Valid date: ", result[2],"/",result[1],"/",result[0])

Enter day15
Enter month10
Enter year2023
Valid date:  2023 / 10 / 15

Exercise 6

In [108]:
from datetime import datetime
def is_leap_year(year):
     year=datetime.now().year
     if year % 4 == 0:
       if year % 100 == 0:
         return year % 400 == 0
       return True
     return False
if is_leap_year(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2023 is not a leap year.

Exercise 7

In [75]:
from datetime import datetime
def get_datetime_now():
 x = datetime.now()
 print(x)
 print(x.strftime("%Y"))
 print(x.strftime("%m"))
 print(x.strftime("%B"))
 print(x.strftime("%W"))
 print(x.strftime("%w"))
 print(x.strftime("%j"))
 print(x.strftime("%d"))
 print(x.strftime("%A"))
get_datetime_now()

2023-10-15 19:26:37.070094
2023
10
October
41
0
288
15
Sunday

Exerscise 8

In [111]:
from datetime import datetime, timedelta

def generate_next_6_days(date):
    for i in range(6):
        next_date = date + timedelta(days=i)
        day_of_week = next_date.strftime('%A')
        month_name = next_date.strftime('%B')
        full_year = next_date.year
        print(day_of_week,",",month_name,",",full_year)

date = datetime.now()
generate_next_6_days(date)

Sunday , October , 2023
Monday , October , 2023
Tuesday , October , 2023
Wednesday , October , 2023
Thursday , October , 2023
Friday , October , 2023