<a href="https://colab.research.google.com/github/Lera1901/Data-with-Pyton/blob/main/DataTypes1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1

In [2]:
print("Hello world")

Hello world

Exercise 2

In [ ]:
name="Valeria"
print("hello",name)

hello Valeria

Exercise 3

In [1]:
num1=11
num2=22
total=(num1+num2)
print(total)

23

Exercise 4

In [24]:
num=[3,15]
num1=sum(num)
if (num1>=15) and (num1<=20):
    print("20")
else:
    print("sum",num1)

20

Exercise 5

In [27]:
for x in "supercalifragilistic":
  print(x)

s
u
p
e
r
c
a
l
i
f
r
a
g
i
l
i
s
t
i
c

Exercise 6

In [47]:
 while True:
          number = float(input("input a whole number  "))
          if number>0:
            print("Tank you, Goodbye")
            break
          else:
            print("Error")

input a whole number  -5
Error
input a whole number  4
Tank you, Goodbye

Exercise 7

In [39]:
num=[1,87,-1,8,21]
sorted_list = sorted(num)
print(sorted_list)

[-1, 1, 8, 21, 87]

Exercise 8

In [8]:
person = {}
name = input("Input your name  ")
person["Name"] = name
while True:
      age = input("Input your age  ")
      if age.isdigit():
         person["Age"] = int(age)
         break
      else:
        print("Error:Age must be a number. Try again. ")

pd1 = input("Input your post code.")
person["Post code"] = pd1

print("Personal information")

for key,value in person.items():
   print(f"{key}:{value}")

Input your name  David
Input your age  jhf
Error:Age must be a number. Try again.
Input your age  24
Input your post code.PH15AJ
Personal information
Name:David
Age:24
Post code:PH15AJ

Exercise 9

In [38]:
def squares_list():
  squarenum = [x**2 for x in range(1,31)]
  return squarenum
  #jh
result = squares_list()
print(result)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

Exercise 10

In [45]:
def show_mood(mood):
  if mood:
    return f"Today, I am feeling {mood}"
  else:
    return "Today, I am feeling neutral"

mood1 = "Happy"
mood2 = "Sad"
mood3 = ""
result1 = show_mood(mood1)
result2 = show_mood(mood2)
result3 = show_mood(mood3)
print(result1)
print(result2)
print(result3)

Today, I am feeling Happy
Today, I am feeling Sad
Today, I am feeling neutral